package service

import (
	"context"

	"{{.ModuleName}}/internal/dto/request"
	"{{.ModuleName}}/internal/dto/response"
)

type {{.SampleAPIName}}Service interface {
	Create{{.SampleAPIName}}(ctx context.Context, req request.Create{{.SampleAPIName}}Request) (*response.{{.SampleAPIName}}Response, error)
}
