package config

import (
	"fmt"
	"os"
	"time"

	"github.com/joho/godotenv"
)

type Config struct {
	DBHost     string
	DBPort     string
	DBUser     string
	DBPassword string
	DBName     string
	ServerPort string
	RedisHost  string
	RedisPort  string
	KafkaHost  string
	KafkaPort  string

	// Timeouts
	ReadTimeout  time.Duration
	WriteTimeout time.Duration
	IdleTimeout  time.Duration
}

func Load() (*Config, error) {
	_ = godotenv.Load()

	return &Config{
		DBHost:     getEnv("DB_HOST", "localhost"),
		DBPort:     getEnv("DB_PORT", "3306"),
		DBUser:     getEnv("DB_USER", "{{.ProjectName}}_user"),
		DBPassword: getEnv("DB_PASSWORD", "{{.ProjectName}}_pass"),
		DBName:     getEnv("DB_NAME", "{{.ProjectName}}_db"),
		ServerPort: getEnv("SERVER_PORT", "{{.ServerPort}}"),
		RedisHost:  getEnv("REDIS_HOST", "localhost"),
		RedisPort:  getEnv("REDIS_PORT", "6379"),
		KafkaHost:  getEnv("KAFKA_HOST", "localhost"),
		KafkaPort:  getEnv("KAFKA_PORT", "9092"),

		// Timeouts with defaults
		ReadTimeout:  parseDuration(getEnv("READ_TIMEOUT", "5s")),
		WriteTimeout: parseDuration(getEnv("WRITE_TIMEOUT", "10s")),
		IdleTimeout:  parseDuration(getEnv("IDLE_TIMEOUT", "0")),
	}, nil
}

func (c *Config) GetDSN() string {
	return fmt.Sprintf("%s:%s@tcp(%s:%s)/%s?parseTime=true",
		c.DBUser, c.DBPassword, c.DBHost, c.DBPort, c.DBName)
}

func (c *Config) GetRedisAddr() string {
	return fmt.Sprintf("%s:%s", c.RedisHost, c.RedisPort)
}

func (c *Config) GetKafkaAddr() string {
	return fmt.Sprintf("%s:%s", c.KafkaHost, c.KafkaPort)
}

func getEnv(key, defaultValue string) string {
	if value := os.Getenv(key); value != "" {
		return value
	}
	return defaultValue
}

func parseDuration(s string) time.Duration {
	d, err := time.ParseDuration(s)
	if err != nil {
		return 0
	}
	return d
}
