version: "2"
sql:
  - schema: "database/migrations"
    queries: "database/queries"
    engine: "mysql"
    gen:
      go:
        package: "models"
        out: "internal/models"
        emit_json_tags: true
        emit_methods_with_db_argument: true
