DB_HOST=localhost
DB_PORT={{.DBPort}}
DB_USER={{.ProjectName}}_user
DB_PASSWORD={{.ProjectName}}_pass
DB_NAME={{.ProjectName}}_db
SERVER_PORT={{.ServerPort}}
REDIS_HOST=localhost
REDIS_PORT={{.RedisPort}}
KAFKA_HOST=localhost
KAFKA_PORT={{.KafkaPort}}

# Timeouts (duration format: 5s, 1m, etc.)
READ_TIMEOUT=5s
WRITE_TIMEOUT=10s
IDLE_TIMEOUT=0s
