[server]
host = "0.0.0.0"
port = {{.AppPort}}
read_timeout = "5s"
write_timeout = "10s"
body_limit = 4194304  # 4MB
prefork = false

[database]
host = "localhost"
port = {{.MySQLPort}}
user = "appuser"
password = "apppassword"
database = "{{.ProjectName}}"
max_open_conns = 25
max_idle_conns = 10
conn_max_lifetime = "5m"
retry_attempts = 3
retry_backoff = "2s"
