package main

import (
	"log/slog"
	"os"

	app "{{.ModuleName}}/internal"
)

func main() {
	application, err := app.Init()
	if err != nil {
		slog.Error("failed to initialize application", "error", err)
		os.Exit(1)
	}

	if err := application.Start(); err != nil {
		slog.Error("server error", "error", err)
		os.Exit(1)
	}
}
