// Package repository contains interfaces for data access operations.
package repository

import (
	"context"

	"{{.ModuleName}}/internal/entity"
)

type {{.SampleAPIName}}Repository interface {
	Create(ctx context.Context, item *entity.{{.SampleAPIName}}) error
	GetByID(ctx context.Context, id int64) (*entity.{{.SampleAPIName}}, error)
}

type DatabaseRepository interface {
	Ping(ctx context.Context) error
	Close() error
}
