package handler

import (
	"github.com/gofiber/fiber/v2"
	"github.com/samber/do/v2"
	service "{{.ModuleName}}/internal/service/{{.SampleAPINameLower}}"
)

type {{.SampleAPIName}}Handler struct {
	service service.{{.SampleAPIName}}Service
}

func New{{.SampleAPIName}}Handler(i do.Injector) (*{{.SampleAPIName}}Handler, error) {
	svc := do.MustInvoke[service.{{.SampleAPIName}}Service](i)

	return &{{.SampleAPIName}}Handler{
		service: svc,
	}, nil
}

func (h *{{.SampleAPIName}}Handler) RegisterRoutes(app *fiber.App) {

	app.Post("/api/v1/{{.SampleTableName}}", h.Create{{.SampleAPIName}})
}
