package handler

import (
	"github.com/gofiber/fiber/v2"
	service "{{.ModuleName}}/internal/service/{{.SampleAPINameLower}}"
)

type {{.SampleAPIName}}Handler struct {
	service service.{{.SampleAPIName}}Service
}

func New{{.SampleAPIName}}Handler(service service.{{.SampleAPIName}}Service) *{{.SampleAPIName}}Handler {
	return &{{.SampleAPIName}}Handler{
		service: service,
	}
}

func (h *{{.SampleAPIName}}Handler) RegisterRoutes(app *fiber.App) {

	app.Post("/api/v1/{{.SampleTableName}}", h.Create{{.SampleAPIName}})
}
